@define-color foreground #d4be98;
@define-color background #282828;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Sarasa Mono SC';
  font-size: 13px;
}

.modules-left {
  margin-left: 8px;
  margin-right: 50px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#wireplumber {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray,
#language,
#backlight,
#keyboard-state {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}
